.contact-form {
    width: 100%;
    margin-top: 20px;
}

h1 {
    top: 10%;
}


ul {
    display: block;
    padding: 0;
    margin: 0;
    justify-content: center;
    left: 25%;
    bottom: 70%;
    
    li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 12px;
        opacity: 0;
        overflow: hidden;
        display: block;
        clear: both;
        position: relative;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
    }

    li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;

        &:first-child {
            margin-left: 0;
        }
    }
}

input[type='text'],
input[type='email'] {
    font-family: sans-serif;
    width: 100%;
    border: 0;
    background: #e6e9eb;
    height: 50px;
    color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;
}

textarea {
    font-family: sans-serif;
    width: 100%;
    border: 0;
    background: #e6e9eb;
    height: 50px;
    font-size: 17px;
    color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;
}

.flat-button {
    color: #3d4dfc;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #4d4d4e;
    float: left;
    border-radius: 4px;
    background: 0 0;
    text-transform: uppercase;
    text-align: center;
    margin-right: 10px;
}

.flat-button-submit {
    color: #3d4dfc;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #4d4d4e;
    float: right;
    border-radius: 4px;
    background: 0 0;
    text-transform: uppercase;
    text-align: center;
    margin-right: 10px;
}
